@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

body {
	margin: 0;
	padding: 0;
	font-family: 'Bai Jamjuree';
    font-size: 18px;
}

.hero-img {
	width: 30%;
}